<html>
  <head>
    <title>
      Suraksha Mitra
    </title>
    <link rel="stylesheet" type="text/css" href="first.css">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <img alt="logo"src="/logo1.png" height="180px"/>
        <div class="login-form">
          <input type="text" placeholder="username" id ="username"/>
          <input type="password" placeholder="password" id ="password"/>
          <button id = "login_btn">login</button>
        </div>
      </div>
    </div>
    <script src="/first.js"></script>
  </body>
</html>
